@using Microsoft.AspNetCore.Components.Forms

<div class="@_class" data-module="govuk-file-upload" @attributes="AdditionalAttributes">
    <InputFile id="@Id" @key="@Id" class="govuk-file-upload" disabled="@IsBusy" OnChange="@OnInputFileChange" multiple />
</div>
