@switch (Level)
{
    case 2:
        <h2 class="@_class" @attributes="AdditionalAttributes">@ChildContent</h2>
        break;
    case 3:
        <h3 class="@_class" @attributes="AdditionalAttributes">@ChildContent</h3>
        break;
    case 4:
        <h4 class="@_class" @attributes="AdditionalAttributes">@ChildContent</h4>
        break;
    case 5:
        <h5 class="@_class" @attributes="AdditionalAttributes">@ChildContent</h5>
        break;
    case 6:
        <h6 class="@_class" @attributes="AdditionalAttributes">@ChildContent</h6>
        break;
    default:
        <h1 class="@_class" @attributes="AdditionalAttributes">@ChildContent</h1>
        break;
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? AdditionalCssClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    /// <summary>
    /// Heading level (1-6). This determines the HTML tag used (h1, h2, etc.) and the default size of the heading
    /// </summary>
    /// <remarks>Levels outside of 1-6 will default to h1 and the largest size</remarks>
    [Parameter, EditorRequired]
    public int Level { get; set; }

    /// <summary>
    /// Size override for the heading. If not set, the size will be determined by the level of the heading (h1, h2, etc.)
    /// </summary>
    [Parameter]
    public GdsSize? Size { get; set; }

    private string? _class;

    protected override void OnParametersSet()
    {
        var size = Size ?? AutomaticSize();
        string sizeClass = size switch
        {
            GdsSize.Small => "govuk-heading-s",
            GdsSize.Medium => "govuk-heading-m",
            GdsSize.Large => "govuk-heading-l",
            GdsSize.ExtraLarge => "govuk-heading-xl",
            _ => "govuk-heading-xl",
        };
        _class = new CssClassBuilder(sizeClass)
            .Add(AdditionalCssClasses)
            .Build();
    }

    protected GdsSize AutomaticSize()
    {
        return Level switch
        {
            1 => GdsSize.ExtraLarge,
            2 => GdsSize.Large,
            3 => GdsSize.Medium,
            4 => GdsSize.Small,
            5 => GdsSize.Small,
            6 => GdsSize.Small,
            _ => GdsSize.ExtraLarge,
        };
    }
}