<header class="@_class" role="banner" data-module="govuk-header" @attributes="AdditionalAttributes">
    <GdsContainer AdditionalCssClasses="govuk-header__container">
        <div class="govuk-header__logo">
            <a href="@ServiceUrl" class="govuk-header__link govuk-header__link--homepage">
                <img src="@LogoUrl" alt="@ServiceName" height="40" class="govuk-header__logotype" />
                <span class="govuk-header__product-name">@ServiceName</span>
            </a>
        </div>
        @if (NavLinks != null)
        {
            <div class="govuk-header__content">
                <nav aria-label="Menu" class="govuk-header__navigation">
                    <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" aria-expanded="false">Menu</button>
                    <ul id="navigation" class="govuk-header__navigation-list">
                        @NavLinks
                    </ul>
                </nav>
            </div>
        }
    </GdsContainer>
</header>

@code {
    [Parameter]
    public string? AdditionalCssClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter, EditorRequired]
    public string ServiceName { get; set; }

    [Parameter, EditorRequired]
    public string ServiceUrl { get; set; }

    [Parameter, EditorRequired]
    public string LogoUrl { get; set; }

    [Parameter]
    public RenderFragment? NavLinks { get; set; }

    private string? _class;

    protected override void OnParametersSet()
    {
        _class = new CssClassBuilder("govuk-header")
            .Add(AdditionalCssClasses)
            .Build();
    }
}