@if (IsSkippedPages)
{
    <li class="@_classSkipped" @attributes="@AdditionalAttributes">&ctdot;</li>
}
else
{
    <li class="@_class" @attributes="@AdditionalAttributes">
        <GdsLink Href="@Href"
                 AdditionalCssClasses="govuk-pagination__link"
                 OnClick="HandlePageChanged"
                 PreventDefault="OnPageChanged.HasDelegate"
                 aria-label="@_ariaLabel"
                 aria-current="@_ariaCurrent"
                 data-enhance-nav="@(OnPageChanged.HasDelegate ? "false" : null)"
                 data-prevent-double-click="true">
            @PageNumber
        </GdsLink>
    </li>
}

@code {
    [CascadingParameter(Name = "GdsPagination.CurrentPage")]
    public int? CurrentPage { get; set; }

    [Parameter]
    public string? Href { get; set; } = "";

    [Parameter]
    public int? PageNumber { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChanged { get; set; }

    [Parameter]
    public string? AdditionalCssClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private bool IsSkippedPages => string.IsNullOrWhiteSpace(Href) && PageNumber is null;
    private string? _class;
    private string? _classSkipped;
    private string? _ariaLabel;
    private string? _ariaCurrent;

    protected override void OnParametersSet()
    {
        bool isCurrentPage = CurrentPage is not null && CurrentPage == PageNumber;
        _class = new CssClassBuilder("govuk-pagination__item")
            .AddIf(isCurrentPage, "govuk-pagination__item--current")
            .Add(AdditionalCssClasses)
            .Build();
        _classSkipped = new CssClassBuilder("govuk-pagination__item")
            .Add("govuk-pagination__item--ellipsis")
            .Add(AdditionalCssClasses)
            .Build();
        _ariaLabel = $"Page {PageNumber}";
        _ariaCurrent = isCurrentPage ? "page" : null;
    }

    private async Task HandlePageChanged(MouseEventArgs args)
    {
        if (OnPageChanged.HasDelegate && PageNumber.HasValue)
        {
            await OnPageChanged.InvokeAsync(PageNumber.Value);
        }
    }
}