@typeparam T
@using Microsoft.AspNetCore.Components.Forms

@if (Option.IsExclusive)
{
    <div class="govuk-radios__divider">or</div>
}

<div @key="_id" class="govuk-radios__item">
    <InputRadio id="@_id" Value="@Option.Value" class="govuk-radios__input" data-behaviour="@_exclusiveBehaviour" aria-describedby="@_hintId" data-aria-controls="@ConditionalId" />
    <GdsLabel For="@_id" AdditionalCssClasses="govuk-radios__label" Text="@Option.Label" />
    @if (_hasHint)
    {
        <GdsHint Id="@_hintId" CssClass="govuk-hint govuk-radios__hint">@Option.Hint</GdsHint>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required GdsOptionItem<T> Option { get; set; }

    [Parameter]
    public string? ConditionalId { get; set; }

    private string? _exclusiveBehaviour;
    private string _id = "";
    private bool _hasHint;
    private string? _hintId;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(Option, nameof(Option));

        if (Option.IsExclusive)
        {
            _exclusiveBehaviour = "exclusive";
        }
        _id = Option.Id;
        _hasHint = Option.Hint != null;
        _hintId = Option.Hint == null ? null : $"{_id}-hint";
    }
}
