@typeparam T

<table class="@_class" @attributes="@AdditionalAttributes">
	@if (!string.IsNullOrEmpty(Caption))
	{
		<caption class="@_captionClass">@Caption</caption>
	}

	@if (HeaderContent is not null)
	{
		<thead class="govuk-table__head">
			<tr class="govuk-table__row">
				@HeaderContent
			</tr>
		</thead>
	}

	<tbody class="govuk-table__body">
		@if (Items is not null && RowTemplate is not null)
		{
			foreach (T item in Items)
			{
				<GdsTableRow FirstCellIsHeader="@FirstCellIsHeader">
					@RowTemplate(item)
				</GdsTableRow>
			}
		}
	</tbody>
</table>

@code {
	[Parameter]
	public IEnumerable<T>? Items { get; set; }

	[Parameter]
	public GdsTableDensity Density { get; set; } = GdsTableDensity.Default;

	[Parameter]
	public string? Caption { get; set; }

	[Parameter]
	[Obsolete("Deprecated in v3.3.0, use CaptionTextSize instead.")]
	public GdsTableCaptionSize? CaptionSize { get; set; }
	[Parameter]
	public GdsSize CaptionTextSize { get; set; } = GdsSize.Large;

	[Parameter]
	public bool FirstCellIsHeader { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

	[Parameter]
	public string? AdditionalTableCssClasses { get; set; }

	[Parameter]
	public string? AdditionalCaptionCssClasses { get; set; }

	[Parameter]
	public RenderFragment? HeaderContent { get; set; }
	[Parameter]
	public RenderFragment<T>? RowTemplate { get; set; }

	private string? _class;
	private string? _captionClass;

	protected override void OnParametersSet()
	{
        // convert deprecated CaptionSize to CaptionTextSize if it has a value
        var captionSize = CaptionSize.HasValue
            ? CaptionSize.Value switch
            {
                GdsTableCaptionSize.Small => GdsSize.Small,
                GdsTableCaptionSize.Medium => GdsSize.Medium,
                GdsTableCaptionSize.Large => GdsSize.Large,
                GdsTableCaptionSize.ExtraLarge => GdsSize.ExtraLarge,
                _ => GdsSize.Large,
            }
            : CaptionTextSize;

		var sizeClass = captionSize switch
		{
			GdsSize.Small => "govuk-table__caption--s",
			GdsSize.Medium => "govuk-table__caption--m",
			GdsSize.Large => "govuk-table__caption--l",
			GdsSize.ExtraLarge => "govuk-table__caption--xl",
			_ => "govuk-table__caption--l",
		};

		_class = new CssClassBuilder("govuk-table")
			.Add(AdditionalTableCssClasses)
			.Add(Density.GetDescription())
			.Build();
		_captionClass = new CssClassBuilder("govuk-table__caption")
			.Add(sizeClass)
			.Add(AdditionalCaptionCssClasses)
			.Build();
	}
}