@typeparam T
@using Microsoft.AspNetCore.Components.Forms

@if (Option.IsExclusive)
{
    <div class="govuk-checkboxes__divider">or</div>
}

<div @key="_id" class="govuk-checkboxes__item">
    <InputCheckbox id="@_id" @bind-Value="Option.Selected" class="govuk-checkboxes__input" data-behaviour="@_exclusiveBehaviour" aria-describedby="@_hintId" data-aria-controls="@ConditionalId" />
    <Label For="@_id" AdditionalCssClasses="govuk-checkboxes__label" Text="@Option.Label" />
    @if (_hasHint)
    {
        <Hint Id="@_hintId" CssClass="govuk-hint govuk-checkboxes__hint">@Option.Hint</Hint>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required GdsOptionItem<T> Option { get; set; }

    [Parameter]
    public string? ConditionalId { get; set; }

    private string? _exclusiveBehaviour;
    private string _id = "";
    private bool _hasHint;
    private string? _hintId;

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(Option, nameof(Option));

        if (Option.IsExclusive)
        {
            _exclusiveBehaviour = "exclusive";
        }
        _id = Option.Id;
        _hasHint = Option.Hint != null;
        _hintId = Option.Hint == null ? null : $"{_id}-hint";
    }
}
